.flex {
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:100%;

    img {
        width:50%;
    }

    div {   
        width:50%;

        h2,
        p {
            margin: 0 30%;
        }

        p {
            font-size: 17.5px;
            text-align: justify;
        }

        h2 {
            text-align:left;
        }
    }
}

.flex:nth-of-type(even) {
    flex-direction: row-reverse;
}