.top {
    background:url("/content/bg-masthead.JPG");
    background-position:center;
    max-width:100%;
    height:50vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    background-repeat:no-repeat;

    h1 {
        font-size: 2rem;
        width:60%;
        text-align:center;
        color:White;
        padding-bottom:25px;
    }

    .email {
        @include emailform;
    }

    .button {
        @include signup;
    }
}