* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: lato;
  padding-top: 59px;
  max-width: 100%; }

i:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

a:hover {
  cursor: pointer; }

.button:hover {
  cursor: pointer; }

header {
  background: #ebebeb;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header h3 {
    font-weight: normal;
    margin-left: 20%; }
  header a {
    text-decoration: none;
    color: White;
    background: #237fe7;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20%; }
    header a:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.top {
  background: url("./content/bg-masthead.jpg");
  background-position: center;
  max-width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat; }
  .top h1 {
    font-size: 2rem;
    width: 60%;
    text-align: center;
    color: White;
    padding-bottom: 25px; }
  .top .email {
    padding: 7.5px;
    margin-right: 5px;
    border: none;
    width: 300px;
    border-radius: 2.5px; }
  .top .button {
    color: White;
    background: #237fe7;
    padding: 7.5px 30px;
    border-radius: 4px;
    border: none; }

.second {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50vh; }
  .second .icon {
    max-width: 20%;
    text-align: center; }
    .second .icon i {
      font-size: 50px;
      color: #237fe7;
      padding-bottom: 15px; }
    .second .icon h2 {
      padding-bottom: 15px; }
    .second .icon p {
      font-size: 17.5px;
      line-height: 25px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 100%; }
  .flex img {
    width: 50%; }
  .flex div {
    width: 50%; }
    .flex div h2,
    .flex div p {
      margin: 0 30%; }
    .flex div p {
      font-size: 17.5px;
      text-align: justify; }
    .flex div h2 {
      text-align: left; }

.flex:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.faces {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%; }
  .faces h2 {
    padding-top: 50px; }
  .faces article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 50px 0px; }
    .faces article .face {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 30px;
      max-width: 20%; }
      .faces article .face img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        padding-bottom: 15px; }
      .faces article .face p {
        text-align: center;
        font-size: 17.5px;
        padding-top: 15px; }

.bottom {
  background: url("/content/bg-masthead.jpg");
  background-position: center;
  max-width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat; }
  .bottom h2 {
    font-size: 1.8rem;
    width: 60%;
    text-align: center;
    color: White;
    padding-bottom: 25px; }
  .bottom .email {
    padding: 7.5px;
    margin-right: 5px;
    border: none;
    width: 300px;
    border-radius: 2.5px; }
  .bottom .button {
    color: White;
    background: #237fe7;
    padding: 7.5px 30px;
    border-radius: 4px;
    border: none; }

footer {
  background: #ebebeb;
  max-width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  footer a {
    color: #237fe7;
    text-decoration: none;
    margin: 5px;
    font-weight: bold; }
  footer .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    footer .left .dot {
      font-size: 10px; }
  footer .sublinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  footer .right a {
    font-size: 22.5px; }

@media (min-width: 620px) and (max-width: 890px) {
  .flex div {
    width: 50%; }
    .flex div h2,
    .flex div p {
      margin: 0;
      padding: 10px; } }

@media (max-width: 620px) {
  header h3 {
    margin-left: 5%; }
  header a {
    margin-right: 5%; }
  .top h1 {
    width: 90%; }
  .top form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top form .button {
      margin-top: 10px; }
    .top form .email {
      max-width: 80%; }
  .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
    .second .icon {
      max-width: 90%;
      margin: 25px 0px; }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; }
    .flex div {
      width: 100%;
      padding-top: 7.5%;
      padding-bottom: 7.5%; }
      .flex div h2,
      .flex div p {
        margin: 0 25%;
        text-align: left; }
    .flex img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 0%;
      object-position: 0%;
      height: 400px; }
  .flex:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .faces h2 {
    padding-top: 25px;
    max-width: 60%;
    text-align: center; }
  .faces article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15px; }
    .faces article .face {
      max-width: 80%;
      padding-top: 25px;
      padding-bottom: 25px; }
      .faces article .face img {
        width: 250px;
        height: 250px; }
  .bottom h1 {
    width: 90%; }
  .bottom form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .bottom form .button {
      margin-top: 10px; }
    .bottom form .email {
      max-width: 80%; }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .left {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    footer .sublinks {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
